// Шрифты
$reserve-font: sans-serif;
$default-font: $reserve-font;
$default-font: "roboto", $reserve-font;

// Цвета
$accent-color: red;
$text-color: black;

// Настройка сетки Bootstrap 4
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
