block variables
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="icon", href="img/favicon/favicon.ico")
    link(rel="stylesheet", href="css/main.css")
  body
    include ../modules/header
    block content
    include ../modules/footer
    script(src="js/main.js")